.ExamDates {
  margin: auto;
  width: calc(100% - 200px);
  max-width: 1024px;
  min-width: 300px;
  height: 100%;
  align-items: center;
}

/* overrides checkbox border color */
.ExamDates label span {
  border: 1px solid hsla(0, 0%, 50%, 0.5) !important;
}

.ExamRegistrationDates {
  margin-top: 1vh;
  margin-bottom: 5vh;
  cursor: pointer;
  font: normal normal normal 16px/24px PT Sans;
  padding: 8px;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
  border-radius: 2px;
}

.ActionButtons {
  display: flex;
  margin-bottom: 4vh;
}

.ActionButtons button {
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 12px;
  border-radius: 2px;
  width: 220px;
}

.AdditionButton {
  background-color: hsla(199, 77%, 43%, 0.95);
}

.DeleteButton {
  background-color: hsla(358, 75%, 57%, 0.85);
}

.ActionButtons .AdditionButton {
  margin-right: 2vw;
}

.Grid {
  display: grid;
  grid-template-columns: 50px 2fr 1fr 0.7fr;
  grid-row-gap: 2vh;
}

.Grid h3 {
  margin: 0;
}

.Grid p {
  margin: 0;
}

.Heading {
  font-weight: bold;
}

.GridDivider {
  margin-bottom: 20px;
  margin-top: 20px;
}
