.Content {
  width: calc(100vw - 40px);
  margin: 0 auto;
}

.Title {
  margin: 0 0 30px 0;
  display: block;
  font-size: 1.125em;
}

.Instructions {
  margin-bottom: 30px;
}

.Selections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.Selection {
  height: 50px;
  font-size: 1.125em;
}

.SelectionText {
  font-size: 18px;
}

.LanguageSelection {
  margin-bottom: 24px;
}

@media (min-width: 620px) {
  .Content {
    width: calc(100vw - 200px);
  }
}
