.Spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: relative;
  left: 50%;
}
.Spinner:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: Spinner 1.2s linear infinite;
}
@keyframes Spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
