.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.Separator {
  position: relative;
  border-radius: 2px;
  height: 60%;
  border: 1px solid hsla(192, 100%, 28%, 1);
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}
