.Organizer {
  width: 100%;
  border: 0;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding: 10px 20px;
  margin: 12px auto;
  box-sizing: border-box;
  border-radius: 2px;
  min-width: 380px;
}

.Organizer h3 {
  margin: 0;
}
