.RegistryItem > h1 {
  padding: 0 0 30px 0;
}

.Search {
  display: inline-block;
  height: 39px;
  align-items: center;
  padding-bottom: 30px;
}

.Search input {
  height: 35px;
  width: 348px;
  margin-right: 10px;
  padding-right: 10px;
}

.Search label {
  line-height: 39px;
  float: right;
  opacity: 0.5;
}

.SearchResults {
  position: relative;
  height: 100%;
  overflow: auto;
  list-style-type: none;
  top: -5px;
}

.SearchResult {
  width: 341px;
  padding-left: 5px;
  line-height: 35px;
  font-size: 0.875rem;
  color: hsla(0, 0%, 40%, 1);
  border: 1px solid hsla(0, 0%, 68%, 1);
  border-bottom: none;
  border-radius: 2px;
  cursor: pointer;
}

.SearchResult:last-of-type {
  border-bottom: 1px solid hsla(0, 0%, 68%, 1);
}

.SearchResult:hover {
  color: hsla(195, 82%, 44%, 1);
}

.ModalClose {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 42px;
  height: 42px;
  opacity: 0.3;
  border: none;
}
.ModalClose:hover {
  opacity: 1;
}
.ModalClose:before,
.ModalClose:after {
  position: absolute;
  top: 10px;
  left: 20px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: hsla(0, 0%, 20%, 1);
}
.ModalClose:before {
  transform: rotate(45deg);
}
.ModalClose:after {
  transform: rotate(-45deg);
}
