.Form hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsla(0, 0%, 68%, 1);
  margin: 1em 0;
  padding: 0;
}

.Label {
  display: block;
  margin: 15px 0 5px 0;
  font-size: 0.875em;
}

.Form h2 {
  font-size: 1.25em;
  line-height: 28px;
  margin: 40px 0px 5px 0px;
}

.Form h3 {
  margin: 0;
  line-height: 19px;
}

.Form input {
  display: block;
  height: 35px;
}

.Form button {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.ErrorMessage {
  display: block;
  color: hsla(15, 100%, 40%, 1);
}

.FormElements {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'agreement languages'
    'contact languages'
    'contact languages'
    'contact languages';
}

.DatePickers {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.Separator {
  position: absolute;
  left: 166px;
  top: 47px;
}

.Agreement {
  grid-area: agreement;
  width: 340px;
}

.Languages {
  grid-area: languages;
  width: 340px;
}

.Contact {
  grid-area: contact;
}

.Contact input {
  width: 340px;
}

.Contact textarea {
  display: block;
  width: 340px;
  padding-left: 5px;
  border: 1px solid hsla(0, 0%, 68%, 1);
  border-radius: 2px;
  font-size: 0.875em;
  color: hsla(0, 0%, 40%, 1);
  resize: none;
}
