.Form {
  display: grid;
  grid-row-gap: 15px;
  margin-top: 15px;
  max-width: 100%;
  width: 50vw;
}

.Form h2 {
  font: normal normal bold 28px/24px PT Sans;
  letter-spacing: 0;
  color: hsla(194, 82%, 43%, 1);
}

.Label {
  font-size: 14px;
}

.BoldLabel {
  font: normal normal bold 16px/24px PT Sans;
  letter-spacing: 0;
  color: hsla(194, 91%, 21%, 1);
}

.Field {
  height: 30px;
  width: 260px;
  background: hsla(0, 0%, 100%, 1) 0 0 no-repeat padding-box;
  border: 1px solid hsla(194, 82%, 43%, 1);
  border-radius: 4px;
}

.EmailContainer {
  display: flex;
}

.EmailContainer div {
  display: grid;
}

.EmailContainer div:first-child {
  padding-right: 5vw;
}

.ErrorMessage {
  display: block;
  color: hsl(15, 100%, 40%);
  margin-top: -10px;
}

@media (min-width: 620px) {
  .ErrorMessage {
    justify-self: start;
  }
}

/* Mobile view */
@media screen and (max-width: 425px) and (orientation: portrait) {
  .Form {
    display: block;
    width: 100%;
  }
  .Form h2 {
    width: 100%;
  }
  .Form button {
    width: 100%;
  }
  .EmailContainer {
    display: block;
  }
  .EmailContainer div {
    display: inherit;
    padding-right: 0 !important;
  }
  .Field {
    margin-bottom: 4vh;
    width: 100%;
  }
}

/* Mobile view */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .Field {
    margin-bottom: 4vh;
    width: 220px;
  }
}

/* Tablet view */
@media screen and (max-width: 768px) {
  .Form button {
    margin-top: 3vh;
    height: 10vh;
  }
}