.RadioButton input {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  margin-right: 8px;
}

.RadioButton:hover {
  color: hsla(195, 100%, 47%, 1);
}

.RadioButtonDisabled {
  color: hsla(0, 0%, 68%, 1);
}

.RadioButtonDisabled input {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  margin-right: 8px;
}

.RadioButtonLabel {
  display: inline-block;
  width: 17%;
  vertical-align:text-top;
}

.RadioButtonExtraLabel {
  display: inline-block;
}
