.RadioButton input {
  margin-bottom: 0.5rem;
  margin-right: 8px;
  background: hsla(0, 0%, 100%, 1) 0% 0% no-repeat padding-box;
  -webkit-appearance: radio;
}

.RadioButton:hover {
  color: hsla(195, 100%, 47%, 1);
}

.RadioButtonDisabled {
  color: hsla(0, 0%, 68%, 1);
}

.RadioButtonDisabled input {
  margin-bottom: 0.5rem;
  margin-right: 8px;
}

.RadioButtonLabel {
  display: inline-block;
  width: 17%;
  vertical-align:text-top;
  font-size: 0.875em;
}

.RadioButtonExtraLabel {
  display: inline-block;
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .RadioButton {
    padding-right: 3%;
    align-items: center;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) and (orientation: landscape) {
  .RadioButton {
    padding-right: 3%;
    align-items: center;
    margin-left: 0;
  }
}