.DrawerToggle {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 22px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 90%;
  height: 4px;
  border-radius: 10px;
  background-color: hsla(0, 100%, 100%, 0.5);
}

@media (min-width: 500px) {
  .DrawerToggle {
    display: none;
  }
}
