.LogOut {
  background: none;
  border: none;
  cursor: pointer;
  color: hsl(195, 91%, 22%);
  font-size: 16px;
  text-decoration: none;
  margin-right: 7px;
}

.LogOut:hover {
  text-decoration-line: underline;
}
