.Content {
  width: calc(100vw - 40px);
  margin: 0 auto;
}

.Content h1 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.Upcoming {
  margin: 29px 0 14px 0;
}

@media (min-width: 620px) {
  .Content {
    width: calc(100vw - 200px);
  }

  .Upcoming {
    font-size: 16px;
  }
}
