.Toolbar {
  display: flex;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #00526c;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
