.Header {
  display: flex;
  height: 50px;
  width: 100%;
  top: 0;
  background-color: hsla(194, 100%, 21%, 1);
  justify-content: center;
  align-items: center;
  z-index: 90;
  border-bottom: 3px solid hsl(195, 82%, 44%);
}

.Header nav {
  height: 100%;
}

.RegistrationHeader {
  top: 0;
  color: hsl(195, 91%, 22%);
  font-weight: 600;
  background-color: hsl(0, 0%, 100%);
  background-size: 2.2em;
  border-bottom: 3px solid hsl(195, 82%, 44%);
  margin-bottom: 0 !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  width: 100%;
  align-items: center;
  min-height: 60px;
}

.RegistrationHeader img {
  padding-left: 2vw;
}

.HeaderTabsContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  display: inline-flex;
}

/* Mobile & Tablet view */
@media screen and (max-width: 1024px) {
  .RegistrationHeader {
    grid-template-columns: repeat(2, 1fr);
    height: 72px;
    font-size: 1.125em;
    background-size: 3.5em;
    padding-top: 2%;
  }
}
