.Form input {
  color: hsla(0, 0%, 0%, 1);
}

.RadiobuttonGroup {
  margin: 0px 0 27px 0;
}

.TextInput {
  width: 200px;
  height: 28px;
}

.FormElement {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Form h2 {
  font-size: 1.25em;
  line-height: 28px;
  margin: 8px 0px 14px 0px;
}

.Form h3 {
  margin: 0px 0px 8px 0px;
  line-height: 19px;
}

.Form label {
  font-size: 0.875em;
}

.Form span {
  font-size: 0.875em;
}

.Form input:focus {
  outline: 1px solid hsla(195, 100%, 47%, 1);
}

.Form button {
  display: block;
  width: 252px;
  height: 50px;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 0px 4px hsla(0, 0%, 0%, 0.5);
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 0.875em;
  background-color: hsl(96, 96%, 27%);
}

.GenderSelect {
  height: 32px;
  width: 80px;
  border: 1px solid hsl(0, 0%, 68%);
  border-radius: 2px;
  background-color: hsl(0, 0%, 100%);
}

.Birthdate {
  float: left;
  margin-right: 12px;
}

.Birthdate input {
  width: 108px;
  height: 28px;
}

.Birthdate span {
  display: inline;
  margin-left: 4px;
}

.Zip input {
  width: 60px;
  height: 28px;
}

.PostOffice input {
  width: 100px;
  height: 28px;
}

.NationalitySelect {
  height: 32px;
  width: 200px;
  border: 1px solid hsl(0, 0%, 68%);
  border-radius: 2px;
  background-color: hsl(0, 0%, 100%);
}

.ErrorMessage {
  display: block;
  color: hsla(15, 100%, 40%, 1);
  margin: 14px 0px 14px 0px;
}

.SubmitError {
  margin: 14px 0px 14px 0px;
}

@media (min-width: 620px) {
  .Form button {
    margin: 0 40px;
  }
}