.Container {
  display: block;
  cursor: pointer;
  user-select: none;
  height: 20px;
  width: 20px;
  margin: auto 0;
}

/* Hide the browser's default checkbox */
.Container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.Checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 100%);
  background: hsla(0, 0%, 100%, 1) 0 0 no-repeat padding-box;
}

/* When the checkbox is checked, add background image */
.Container input:checked ~ .Checkmark {
  background: url('../../../assets/svg/checkbox-blue-checkmark.svg') hsla(0, 0%, 100%, 1) center
    center no-repeat;
  background-size: 1.15em;
}

/* Create the checkmark/indicator (hidden when not checked) */
.Checkmark:after {
  display: none;
  position: absolute;
  content: '';
}

/* Show the checkmark when checked */
.Container input:checked ~ .Checkmark:after {
  display: block;
}
