.PaymentStatus {
    margin: 38px 0 34px 20px;
  }
  
  .InfoBox {
    border: 1px solid hsla(36, 98%, 61%, 1);
    border-radius: 2px;
    background-color: hsla(36, 100%, 95%, 1);
    max-width: 480px;
  }
  
  .InfoBox p {
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .BackButton {
    margin-top: 20px;
  }