.TextInput {
  width: 340px;
  height: 30px;
}

.Label {
  font-size: 14px;
}

.Form button {
  float: left;
  margin-top: 15px;
}

.ValidationError {
  display: block;
  color: hsla(15, 100%, 40%, 1);
  margin: 14px 0px 14px 0px;
}

.SubmitError {
  display: inline-block;
  margin: 14px 0px 14px 0px;
}


