.TextInput {
  height: 30px;
  width: 260px;
  background: hsla(0, 0%, 100%, 1) 0 0 no-repeat padding-box;
  border: 1px solid hsla(194, 82%, 43%, 1);
  border-radius: 4px;
}

.Label {
  font: normal normal 14px/24px PT Sans;
  letter-spacing: 0;
  color: hsla(194, 91%, 21%, 1);
}

.Form {
  margin-left: 5vw;
}

.Form button {
  margin-top: 15px;
}

.ValidationError {
  display: block;
  color: hsla(15, 100%, 40%, 1);
  margin: 14px 0px 14px 0px;
}

.SubmitError {
  display: inline-block;
  margin: 14px 0px 14px 0px;
}

@media (max-width: 425px) {
  .Form {
    margin-left: 0 !important;
  }
  .Form button {
    margin-top: 30px;
  }
}
