.ExamSessionListItem {
  background-color: hsl(0, 0%, 96%);
  margin: 10px 0;
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'location exam'
    'availability button'
    'registrationOpen button';
  grid-row-gap: 5px;
}

.Date {
  display: none;
  grid-area: date;
}

.Exam {
  grid-area: exam;
  justify-self: end;
}

.Location {
  grid-area: location;
  justify-self: start;
}

.Availability {
  grid-area: availability;
}

.RegistrationOpen {
  grid-area: registrationOpen;
}

.RegistrationOpen span:nth-child(2) {
  white-space: nowrap;
}

.RegisterButton {
  grid-area: button;
  justify-self: end;
  width: 88px;
  color: hsl(0, 0%, 100%);
  border-radius: 2px;
}

.RegistrationLocked {
  height: 30px;
  color: hsl(0, 0%, 40%);
  background: hsl(0, 0%, 80%);
}

.ButtonForSignup {
  height: 30px;
  background: hsl(96, 96%, 27%);
  box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.3);
}

.ButtonForQueue {
  height: 55px;
  background: hsl(0, 0%, 100%);
  color: hsl(225, 100%, 40%);
  border: 1px solid hsl(225, 100%, 40%);
  box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.3);
}

@media (min-width: 620px) {
  .ExamSessionListItem {
    background-color: hsl(0, 0%, 98%);
    height: 70px;
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
    grid-template-columns: 0.7fr 2fr 0.8fr 1fr 1fr 0.7fr;
    grid-template-areas: 'date location exam registrationOpen availability button';
    align-items: center;
    justify-items: start;
    border-bottom: 1px solid hsl(0, 0%, 59%);
  }

  .ExamSessionListItem:hover {
    background-color: hsl(0, 0%, 96%);
  }

  .RegisterButton {
    justify-self: center;
  }

  .ButtonForSignup:hover {
    background: hsl(96, 83%, 43%);
    box-shadow: 0px 2px 3px hsla(0, 0%, 0%, 0.3);
  }

  .Date {
    display: block;
  }

  .Exam {
    white-space: nowrap;
    justify-self: start;
  }

  .Availability {
    justify-self: center;
  }

  .RegistrationOpen {
    justify-self: center;
  }

  .HiddenOnDesktop {
    display: none;
  }
}
