.Registry {
  margin: auto;
  width: calc(100% - 170px);
  max-width: 1440px;
  min-width: 300px;
  height: 100%;
  align-items: center;
}

.Registry p {
  margin: auto;
}

.Registry h1 {
  padding: 30px 0;
  margin: 0;
}

.Searchbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 55px;
  width: 100%;
}

.SearchResultsEmpty {
  padding-top: 25px;
  font-size: 1.125em;
}
