.ParticipantList {
  display: grid;
  grid-template-columns: 20px 1fr 2fr 1fr 1fr 1fr;
  grid-gap: 4px;
  grid-row-gap: 0px;
}

.ListExport {
  margin-bottom: 8px;
}

.Item {
  font-size: 0.875em;
}

.StateItem {
  font-size: 0.875em;
}

.ItemHeader {
  font-size: 0.875em;
  font-weight: bold;
  white-space: nowrap;
}

.Status {
  color: hsl(15, 100%, 40%);
}

.StatusCompleted {
  color: hsl(96, 96%, 27%);
}

.Index {
  text-align: right;
  font-weight: bold;
}

.Line {
  grid-column: 1/6;
  margin-top: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.LineEnd {
  grid-column: 6/7;
  margin-top: 4px;
  margin-bottom: 8px;
}

.ShowOnHover {
  opacity: 0;
}

.ShowOnHover:hover {
  opacity: 1;
}

.Item:hover ~ .ShowOnHover {
  opacity: 1;
}

.Item:hover ~ .ShowOnHover + .Line ~ .ShowOnHover {
  opacity: 0;
}

.FirstShowOnHover {
  opacity: 0;
}

.FirstShowOnHover:hover {
  opacity: 1;
}

.StateItem:hover ~ .FirstShowOnHover {
  opacity: 1;
}

.StateItem:hover ~ .ShowOnHover + .Line ~ .FirstShowOnHover {
  opacity: 0;
}
