.FormElements {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(5, minmax(120px, 1fr));
  grid-template-areas:
    'agreement'
    'contact'
    'payment'
    'languages';
  margin-bottom: 40px;
}

.Label {
  display: block;
  margin: 15px 0 5px 0;
  font-size: 0.875em;
}

.Form hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsla(0, 0%, 68%, 1);
  margin: 1em 0;
  padding: 0;
}

.Form h2 {
  font-size: 1.25em;
  line-height: 28px;
  margin: 0px 0px 5px 0px;
}

.Form h3 {
  margin: 0;
  line-height: 19px;
}

.Form input {
  display: block;
  height: 35px;
}

.Form input:focus {
  outline: 1px solid hsla(195, 100%, 47%, 1);
}

.Form button {
  position: absolute;
  right: 40px;
}

.ErrorMessage {
  display: block;
  color: hsla(15, 100%, 40%, 1);
}

.DatePickers {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.Separator {
  position: absolute;
  left: 166px;
  top: 47px;
}

.Agreement {
  grid-area: agreement;
  grid-row: span 1;
  width: 340px;
}

.Languages {
  grid-area: languages;
  grid-row: span 2;
  width: 340px;
}

.Contact {
  grid-area: contact;
  grid-row: span 2;
}

.PaymentInfo {
  grid-area: payment;
  grid-row: span 2;
}

.Contact input {
  width: 340px;
}

.Contact textarea {
  display: block;
  width: 340px;
  padding-left: 5px;
  border: 1px solid hsla(0, 0%, 68%, 1);
  border-radius: 2px;
  font-size: 0.875em;
  color: hsla(0, 0%, 40%, 1);
  resize: none;
}

@media (min-width: 1020px) {
  .FormElements {
    grid-template-columns: repeat(auto-fill, min-max(340px, 1fr));
    grid-template-rows: repeat(3, minmax(120px, 1fr));
    grid-template-areas:
      'agreement languages'
      'contact languages'
      'payment languages';
  }

  .Form button {
    position: fixed;
    bottom: 135px;
    right: 175px;
  }
}
