.RegistryItem {
  margin-bottom: 10px;
}

.RegistryItemWithDetails {
  margin-bottom: 0px;
}

.Collapsible {
  cursor: pointer;
  padding: 0px 110px 0px 20px;
  box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.5);
  background: url('../../../assets/svg/chevron-white.svg') no-repeat,
    linear-gradient(
      to right,
      hsla(0, 100%, 100%, 1) calc(100% - 80px),
      hsla(195, 82%, 44%, 1) calc(100% - 80px),
      hsla(195, 82%, 44%, 1) 100%
    );
  background-position: right 26px top 50%, top left;
}

.HeaderText {
  display: grid;
  grid-template-columns: auto auto 20%;
  grid-template-rows: minmax(68px, max-content);
  grid-column-gap: 10px;
  width: 100%;
  align-items: center;
}

.HeaderLanguages {
  justify-self: right;
}

.AgreementExpired {
  justify-self: right;
  color: hsla(15, 100%, 40%, 1);
  font-size: 1.125em;
}

.HeaderCity {
  justify-self: right;
  word-break: break-all;
}
