.Content {
  width: calc(100vw - 40px);
  margin: 0 auto;
}

.Content h1 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.Content ul {
  list-style: none;
}

.Instructions {
  margin-bottom: 30px;
}

.Selections {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Selections button {
  border: none;
  padding: 0;
  background: none;
  text-align: left;
  height: 50px;
  font-size: 16px;
  color: hsla(0, 0%, 16%);
  cursor: pointer;
}

@media (min-width: 620px) {
  .Content {
    width: calc(100vw - 200px);
  }
}
