.Label {
  margin-top: 10px;
}

.Form h2 {
  margin: 0;
}

.Form hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #aeaeae;
  margin: 1em 0;
  padding: 0;
}

.Form span {
  display: block;
  color: red;
}
