.ContentContainer {
    padding: 5px 20px 0 0;
}

.DescriptionsBarOpen {
    align-items: center;
    width: 100%;
    background: url('../../../assets/svg/close-sign.svg') no-repeat right 26px top 50%, top left;
}

.DescriptionsBarClosed {
    align-items: center;
    width: 100%;
    background: url('../../../assets/svg/plus-sign.svg') no-repeat right 26px top 50%, top left;
}

.DescriptionHeader {
    width: 100%;
    text-align: left;
    font: normal normal bold 21px/24px PT Sans;
    letter-spacing: 0;
    color: hsla(194, 91%, 21%, 1);
    opacity: 1;
}

.Grid {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 0.7fr 0.4fr;
}

.Grid label {
    margin-top: 0;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-row-gap: 8px;
}

.Grid h4 {
    margin: 0;
}

.Grid p {
    margin: 0;
    padding-bottom: 5vh;
}

.GridDivider {
    margin-bottom: 20px;
    margin-top: 20px;
}

.EditButton {
    background: none;
    border: none;
    width: 2em;
    height: 2em;
}

.ActionButtons {
    display: flex;
    margin-bottom: 5vh;
}

.ActionButtons button {
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 12px;
    border-radius: 2px;
    width: 220px;
}

.AdditionButton {
    background-color: hsla(199, 77%, 43%, 0.95);
}

.DeleteButton {
    background-color: hsla(358, 75%, 57%, 0.85);
}

.ActionButtons .AdditionButton {
    margin-right: 2vw;
}
