.AgreementPdf {
  padding: 12px 0 0 0;
  margin: auto;
}

.UploadButton {
  position: inherit !important;
  color: hsla(0, 0%, 16%, 1);
  text-decoration-line: underline;
  background: none;
  border: none;
  padding: 0;
  bottom: 0 !important;
  right: 0 !important;
  font-size: 0.875em;
  font-weight: normal;
}

.ErrorMessage {
  padding: 8px 0 0 0;
  display: block;
  color: hsla(15, 100%, 40%, 1);
}

.SuccessMessage {
  padding: 8px 0 0 0;
  display: block;
  color: hsla(84, 100%, 25%, 1);
}