.Content {
  position: relative;
}

.DeleteButtons {
  position: absolute;
  top: 124px;
  right: 40px;
  font-size: 0.875em;
  line-height: 1.625em;
  letter-spacing: -0.3px;
}

.Delete {
  color: hsla(15, 100%, 40%, 1);
  text-decoration-line: underline;
  background: none;
  border: none;
  padding: 0;
}

.DeleteConfirmation {
  color: hsla(0, 0%, 100%, 1);
  background-color: hsla(15, 100%, 40%, 1);
  padding: 2px 5px;
  border: none;
}

.DeleteCancel {
  color: hsla(0, 0%, 100%, 1);
  background-color: hsla(195, 82%, 44%, 1);
  padding: 2px 5px;
  border: none;
  margin-left: 10px;
}

@media (min-width: 655px) {
  .Content {
    padding-right: 135px;
  }

  .DeleteButtons {
    right: 175px;
  }
}
