body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: hsla(0, 0%, 98%, 1);
  color: hsla(0, 0%, 16%, 1);
  font-size: 16px;
  overflow-y: overlay;
  box-sizing: border-box;
}

h1 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 30px;
}

h2 {
  font-size: 1em;
  font-weight: 600;
  line-height: 30px;
}

h3 {
  font-size: 0.875em;
  font-weight: 600;
  line-height: 24px;
}

p {
  font-size: 0.875em;
}

input {
  font-size: 0.875em;
  color: hsla(0, 0%, 40%, 1);
  padding-left: 5px;
  border: 1px solid hsla(0, 0%, 68%, 1);
  border-radius: 2px;
}

textarea {
  font-size: 0.875em;
  color: hsla(0, 0%, 40%, 1);
  padding-left: 5px;
  border: 1px solid hsla(0, 0%, 68%, 1);
  border-radius: 2px;
}

button {
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 30px;
  }

  h2 {
    font-size: 1.125em;
    font-weight: 600;
    line-height: 30px;
  }

  h3 {
    font-size: 0.875em;
    font-weight: 600;
    line-height: 24px;
  }
}
