@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/PTSans-Regular.ttf');
  src: local('PT Sans'), local('PTSans'),
    url('assets/fonts/PTSans-Regular.ttf') format('truetype'),
    url('assets/fonts/PTSans-Bold.ttf') format('truetype'),
    url('assets/fonts/PTSans-Italic.ttf') format('truetype'),
    url('assets/fonts/PTSans-BoldItalic.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: hsla(0, 0%, 100%, 1);
  color: hsla(194, 91%, 21%, 1);
  font-size: 16px;
  overflow-y: overlay;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

input {
  font-size: 0.875em;
  color: hsla(0, 0%, 40%, 1);
  padding-left: 5px;
  border: 1px solid hsla(0, 0%, 68%, 1);
}

textarea {
  font-size: 0.875em;
  color: hsla(0, 0%, 40%, 1);
  padding-left: 5px;
  border: 1px solid hsla(0, 0%, 68%, 1);
  border-radius: 2px;
}

button {
  border-radius: 2px;
}

.YkiButton {
  display: block;
  margin: 32px auto;
  width: 182px;
  background: hsl(195, 82%, 44%) 0 0 no-repeat padding-box;
  box-shadow: 3px 3px 6px hsla(195, 91%, 22%, 0.15);
  border-radius: 30px;
  border: none;
  opacity: 1;
  text-align: center;
  font: normal normal normal 16px/20px PT Sans;
  letter-spacing: 0.32px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  min-height: 40px;
  max-height: 50px;
}

.YkiButton:disabled {
  color: hsla(0, 0%, 60%, 1);
  background-color: hsla(0, 0%, 80%, 1);
}
