.Alert {
  text-align: center;
  display: block;
  width: 100%;
  color: hsla(0, 0%, 16%, 1);
}

.AlertContainer {
  position: relative;
  margin: 0 auto;
  padding: 1rem 4rem;
}

.AlertTitle {
  font-weight: 600;
}

.AlertText {
  margin-top: 8px;
  margin-top: 0.5rem;
}

.AlertError {
  background-color: hsla(0, 100%, 96%, 1);
}

.AlertError .AlertTitle {
  color: hsla(0, 74%, 60%, 1);
}

.AlertSuccess {
  background-color: hsla(84, 100%, 88%, 1);
}
.AlertSuccess .AlertTitle {
  color: hsla(84, 100%, 25%, 1);
}
