.Form input, textarea {
  color: hsla(0, 0%, 16%, 1);
}

.RadiobuttonGroup {
  margin: 0px 0 27px 0;
}

.MaxParticipantsInput {
  display: block;
  width: 35px;
  height: 35px;
  padding-left: 0px;
  text-align: center;
}

.TextInput {
  width: 340px;
  height: 35px;
}

.TextArea {
  width: 340px;
  height: 50px;
  resize: none;
}

.Select {
  height: 35px;
  width: 250px;
  border: 1px solid hsl(0, 0%, 68%);
  border-radius: 2px;
  background-color: hsl(0, 0%, 100%);
}

.FormElement {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Form h2 {
  font-size: 1.25em;
  line-height: 28px;
  margin: 8px 0px 14px 0px;
}

.Form h3 {
  margin: 0px 0px 8px 0px;
  line-height: 19px;
}

.Form label {
  font-size: 0.875em;
}

.Form input:focus {
  outline: 1px solid hsla(195, 100%, 47%, 1);
}

.Form button {
  float: left;
}

.ExtraLabel {
  display: block;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.ErrorMessage {
  display: block;
  color: hsla(15, 100%, 40%, 1);
  margin: 14px 0px 14px 0px;
}
