.Content {
  width: auto;
  max-width: 100vw;
  margin: 0 14vw 0 14vw;
  min-height: 10vh;
}

.Loading {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.InfoText {
  text-align: left;
  font: normal normal normal 16px/24px PT Sans;
  letter-spacing: 0;
  color: hsla(194, 91%, 21%, 1);
}

.Identification {
  justify-items: center;
  width: 32vw;
}

.Identification p {
  text-align: left;
  font: normal normal bold 28px/24px PT Sans;
  letter-spacing: 0;
  color: hsla(194, 82%, 43%, 1);
}

.IdentificationButtons {
  display: flex;
}

/* Mobile view */
@media screen and (max-width: 425px) {
  .Identification {
    width: 100%;
  }
  .IdentificationButtons {
    display: block;
    text-align: center;
    width: 100%;
  }
  .IdentificationButtons button {
    margin-bottom: 5vh;
    width: 100%;
    height: 8vh;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .Identification {
    width: 100%;
  }
  .IdentificationButtons {
    display: flex;
    text-align: center;
    width: 100%;
  }
  .IdentificationButtons :nth-child(2) {
    margin-right: 20px;
  }
  .IdentificationButtons button {
    margin-bottom: 5vh;
    max-width: 220px;
    height: 8vh;
  }
}

/* Tablet view landscape */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .Identification {
    width: 100%;
  }
  .IdentificationButtons {
    display: flex;
    text-align: center;
    width: 100%;
  }
  .IdentificationButtons:nth-child(2) {
    margin-right: 5vw;
  }
  .IdentificationButtons button {
    margin-bottom: 5vh;
    width: 260px;
    height: 10vh;
  }
}
