.AddressInput input {
  border: 1px solid hsla(194, 82%, 43%, 1);
  border-radius: 4px;
}

.Zip {
  float: left;
  margin-right: 12px;
}

.Zip input {
  width: 60px;
  height: 28px;
}

.PostOffice input {
  width: 100px;
  height: 28px;
}

.ErrorMessage {
  color: hsla(15, 100%, 40%, 1);
  margin-left: 4px;
}

@media screen and (max-width: 425px) and (orientation: portrait) {
  .AddressInput {
    display: grid;
    grid-gap: 20px;
  }
}