.Content {
  width: calc(100vw - 40px);
  margin: 32px auto;
}

.RegistrationPage {
  width: auto;
  max-width: 100vw;
  margin: 0 14vw 10vh 14vw;
  min-height: 10vh;
}

.RegistrationPage p {
  font: normal normal normal 16px/24px PT Sans;
  letter-spacing: 0;
  color: hsla(194, 91%, 21%, 1);
}

.RegistrationPage hr {
  border-color: hsla(194, 82%, 43%, 0.25);
}

@media (min-width: 1440px) {
  .Content {
    width: calc(100vw - 200px);
    max-width: 457px;
    margin: 0 0 88px 100px;
  }
}

@media (max-width: 425px) {
  .RegistrationPage {
    margin: 0 10vw 5vh 10vw;
  }
}
