.Content {
  width: auto;
  max-width: 100vw;
  margin: 0 14vw 10vh 14vw;
  min-height: 17vh;
  padding-top: 1vh;
}

.Content h1 {
  font: normal normal bold 28px/24px PT Sans;
  letter-spacing: 0;
  color: hsla(194, 82%, 43%, 1);
  padding-bottom: 2vh;
}

.Content p {
  font: normal normal normal 16px/24px PT Sans;
  letter-spacing: 0;
  color: hsla(194, 91%, 21%, 1);
}
