.Modal {
  position: absolute;
  top: 75px;
  left: 50px;
  height: 80vh;
  width: calc(100% - 180px);
  z-index: 500;
  background-color: hsla(0, 100%, 100%, 1);
  word-wrap: break-word;
  overflow-y: auto;
  padding: 40px;
}

.ModalClose {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 42px;
  height: 42px;
  opacity: 0.3;
  border: none;
}
.ModalClose:hover {
  opacity: 1;
}
.ModalClose:before,
.ModalClose:after {
  position: absolute;
  top: 10px;
  left: 20px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: hsla(0, 0%, 20%, 1);
}
.ModalClose:before {
  transform: rotate(45deg);
}
.ModalClose:after {
  transform: rotate(-45deg);
}
