.Modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: calc(100% - 180px);
  z-index: 500;
  background-color: hsla(0, 100%, 100%, 1);
  word-wrap: break-word;
  overflow-y: auto;
  padding: 40px;
}

.SmallModal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 30vw;
  z-index: 500;
  background-color: hsla(0, 100%, 100%, 1);
  word-wrap: break-word;
  overflow-y: auto;
  padding: 40px;
}

.Content {
  height: 100%;
  width: 100%;
}

.ModalClose {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.7;
  border: none;
  background: url('../../../assets/svg/close-overlay.svg') no-repeat center
    center;
  background-size: 15px;
  z-index: 999;
}
.ModalClose:hover {
  opacity: 1;
}

@media (min-width: 1380px) {
  .Modal {
    width: 1200px;
  }
}
