.Date {
  margin-bottom: 20px;
}

.ExamsOnDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0, 0%, 59%);
  font-size: 14px;
}

.ColumnHeaders {
  display: none;
}

@media (min-width: 620px) {
  .Date {
    margin-bottom: -2px;
  }

  .ExamsOnDate {
    display: none;
  }

  .ColumnHeaders {
    height: 38px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.8fr 1fr 1fr 0.7fr;
    align-items: end;
  }

  .ColumnHeaders > div:nth-child(4),
  .ColumnHeaders > div:nth-child(5) {
    justify-self: center;
  }

  .List {
    display: grid;
  }

  .List > div:first-child {
    border-top: 1px solid hsl(0, 0%, 59%);
  }
}
