.OrganizerRegistry {
  margin: auto;
  width: 80%;
  min-width: 300px;
  height: 100%;
  align-items: center;
}

.OrganizerRegistry p {
  margin: auto;
}

.OrganizerRegistry table {
  margin-bottom: 10px;
}
