.MenuIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5vw;
}

.MenuItems {
    display: block;
    position: absolute;
    margin-top: 74px;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 100%, 1);
    text-align: center;
    overflow: hidden;
    padding-right: 0;
    z-index: 100;
}

.MenuItems a {
    margin-top: 2.5vh;
    color: hsl(195, 91%, 22%);
    text-decoration: none;
}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .MenuIcon {
        padding-right: 3vw;
    }
    .MenuItems {
        width: 35vw;
        right: 0;
        box-shadow: 0 3px 16px hsla(0, 0%, 0%, 0.1);
    }
}