.MenuIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5vw;
}

.MenuItems {
    display: block;
    position: absolute;
    margin-top: 75px;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 100%, 1);
    text-align: center;
    overflow: hidden;
    padding-right: 0;
    z-index: 100;
}

.MenuItems a {
    margin-top: 2.5vh;
    color: hsl(195, 91%, 22%);
    text-decoration: none;
}